<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.min.js"></script>
{{ with resources.Get "js/topbar.min.js" }}
    <!-- 引入本地JS脚本 -->
    <script src={{ .Permalink }}></script>
{{ end }}
<script>
	var pjax = new Pjax({
	  selectors: [
	    ".main-container"
	  ]
	})

    pjax._handleResponse = pjax.handleResponse;
    pjax.handleResponse = function(responseText, request, href, options) {
        if (request.responseText.match("<html")) {
            if (responseText) {
                // 将新页面的html字符串解析成DOM对象
                let newDom = new DOMParser().parseFromString(responseText, 'text/html');
                // 获取新页面中body的className，并设置回当前页面
                let bodyClass = newDom.body.className;
                document.body.setAttribute("class", bodyClass)
                // 放行，交给pjax自己处理
				<!-- setTimeout(() =>{ -->
					<!-- pjax._handleResponse(responseText, request, href, options); -->
				<!-- },1000) -->
				pjax._handleResponse(responseText, request, href, options);
            }
        } else {
            // handle non-HTML response here
        }
    }
	
    topbar.config({
        barColors: {
            '0': 'rgba(255,  255, 255, 1)', // 进度0%白色
            '1.0': 'rgba(0, 149, 234,  1)' // 进度100%蓝色
        }
    })
	
    document.addEventListener('pjax:send', () => {
        // 显示顶部进度条
        topbar.show();
    })
	
    document.addEventListener('pjax:complete', () => {
        // Stack脚本初始化
        window.Stack.init();
		// 隐藏顶部进度条
        topbar.hide();
    })

</script>
<!-- <div class="js-Pjax">
    <script>
        // TODO: 判断当前是否是文档，且是否开启评论功能
        (function() {
            let script = document.createElement('script');
            // 将对应评论的脚本内容填进去
             script.setAttribute('key', 'value');
            ...
            // 寻找合适的元素，添加脚本进去
            document.querySelector('xxx').appendchild(script)
        })(document)
    </script>
<div> -->